# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Virtual environments
venv/
ENV/
env/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# VS Code
.vscode/settings.json
.vscode/launch.json
.history/

# Testing and Coverage
.coverage
htmlcov/
.pytest_cache/
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Static Files
staticfiles/

# Production
*.pem
*.key

# Database Backups
*.dump
*.sql
*.sqlite3-backup

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Analysis
.pylint.d/
.mypy_cache/
.pyre/
.pytype/
cython_debug/

# Cache
*.cache
.sass-cache/
